
# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# CSV files in data directory
data/**/*.csv
data/*.csv

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
